html,body {
    height: 100%;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card h1 {
    font-size: 24px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0 0 16px 0;
    line-height: 1.3;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 0 0 24px 0;

}

.attribution { 
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: hsl(218, 44%, 22%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries for Responsive Design */

/* Mobile (375px) */
@media (max-width: 375px) {
    .container {
        margin: 0 15px;
    }
    .card {
        padding: 16px;
    }
    .card h1 {
        font-size: 20px;
    }
    .card p {
        font-size: 14px;
    }
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
    .container {
        margin: 0 auto;
    }
    .card {
        padding: 16px;
    }
    .card h1 {
        font-size: 22px;
    }
    .card p {
        font-size: 15px;
    }
}